*{
	margin:0;
	padding:0;
}

body{

}

pre{
	font-size: 9px;	
}


.sign{
	position: absolute;
	top: 20%;
	left: 20%;
	animation-name: roo;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
	color: #F67E7D;
}

.sign2{
	position: absolute;
	top: 20%;
	left: 25%;
	animation-name: roo;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
	color: #17A398;
}

.sign3{
	position: absolute;
	top: 20%;
	left: 30%;
	animation-name: roo;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
	color: #F67E7D;
}

.sign4{
	position: absolute;
	top: 20%;
	left: 35%;
	animation-name: roo;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
	color: #17A398;
}

.sign5{
	position: absolute;
	top: 20%;
	left: 40%;
	animation-name: roo;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
	color: #F67E7D;
}

.sign6{
	position: absolute;
	top: 20%;
	left: 45%;
	animation-name: roo;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
	color: #17A398;
}

.sign7{
	position: absolute;
	top: 20%;
	left: 50%;
	animation-name: roo;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
	color: #F67E7D;
}

.sign8{
	position: absolute;
	top: 20%;
	left: 55%;
	animation-name: roo;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
	color: #17A398;
}

.sign9{
	position: absolute;
	top: 20%;
	left: 60%;
	animation-name: roo;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
	color: #F67E7D;
}

.sign10{
	position: absolute;
	top: 20%;
	left: 65%;
	animation-name: roo;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
	color: #17A398;
}

.sign11{
	position: absolute;
	top: 20%;
	left: 70%;
	animation-name: roo;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
	color: #F67E7D;
}

@keyframes roo{
	0% {transform: rotate(5deg);}
	50% {transform: rotate(-5deg);}
	100% {transform: rotate(5deg);}
}


.video{
	position: absolute;
	top: 40%;
	left: 30%;
}

.bird1{
	position: absolute;
	top: 35%;
	left: 73.6%; 
	transform: scaleX(-1);
}

.music{
	position: absolute;
	top: 90%;
	left: 30%;
}

.bird3{
	position: absolute;
	top: 60%;
	left: 15%;
}






