*{
	margin:0;
	padding:0;
}

.backtext {
	width: 560px;
	height: 315px;
	position: absolute;
	color: red;
	font-family: monospace;
	font-size:9px;
	top: 28%;
	left: 25%;
	text-align: center;
	animation: gaga 5s infinite;

}

@keyframes gaga {
	0% {top:28%; left: 25%;}
	50% {top:31%; left:30%;}
	100% {top:28%; left: 25%;}
}

.backtext2{
	width: 560px;
	height: 315px;
	position: absolute;
	color: blue;
	font-family: monospace;
	font-size:9px;
	top: 29%;
	left: 24%;
	text-align: center;/*
	animation: gagah 5s infinite;*/

}

@keyframes gagah {
	0% {top:29%; left: 24%;}
	50% {top:31%; left:29%;}
	100% {top:29%; left: 24%;}
}

.backtext3{
	width: 560px;
	height: 315px;
	position: absolute;
	color: red;
	font-family: monospace;
	font-size:9px;
	top: 40%;
	left: 40%;
	animation: gagaga 7s infinite;
	text-align: center;
}

@keyframes gagaga{
	0% {top: 40%; left: 40%;}
	50% {top: 40%; left: 45%;}
	100% {top: 40%; left: 40%;}
}

.backtext4{
	width: 560px;
	height: 315px;
	position: absolute;
	color: blue;
	font-family: monospace;
	font-size:9px;
	top: 41%;
	left: 39%;
	animation-name: gagagah 7s infinite;
	text-align: center;
}

.video{
	position: absolute;
	top: 45%;
	left: 33%; 
}

.music {
	position: absolute;
	top: 68%;
	left: 33%;
}

.bird1 {
	position: absolute;
	transform: scaleX(-1);

}

.bird2 {
	position: absolute;
	left: 33%;
	top: 72%;
}

.bird3 {
	position: absolute;
	left: 33%;
	top: 78%;
}






















