*{
	margin:0;
	padding:0;
}

body{
	background-color: #5C80BC;
	animation-name: gradient;
	animation-duration: 5s;
	animation-iteration-count: infinite;

}


@keyframes gradient{
	0% {background-color: #5C80BC}
	50% {background-color: #5DFDCB}
	100% {background-color: #5C80BC}
}


h1{
	font-family: 'Monsieur La Doulaise', cursive;
	color: white;
}

h2{
	font-family: sans-serif;
	font-size: 20px;
	color: white;
}

.title{
	position: absolute;
	text-align: center;
	top: 45%;
	left: 43%;
	line-height: 160%;
	transform: rotate(5deg);
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.bird1{
	position: absolute;
	left: 77%;
}

.bird2 {
	position: absolute;
	animation-name: move;
	animation-iteration-count: infinite;
	animation-duration: 7s;
}

@keyframes move {
	0% {top: 20%; left: 30%;}
	100% {top: 20%; left: 60%;}
}

.video {
	position: absolute;
	filter: blur(5px);
	top: 22%;
	left: 25%;

}

.bird3{
	position: absolute;
}