body {
	background-color: black;
}

pre {
	font-size: 13px;
	-webkit-animation-name: color; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes color {
    0%   {color:white;}
    50%  {color:black;}
    100% {color:white;}
}

/* Standard syntax */
@keyframes color {
    0%   {color:white;}
    50%  {color:black;}
    100% {color:white;}
}

a {
	color: red;
}

p {
	font-family: monospace;
	color: red;
	font-size: 10px;
}