*{
	margin:0;
	padding:0;
}

h1{
	font-family: sans-serif;

}

.girl {
	position: absolute;
	top: 40%;
	left: 35%;
}

.toro {
	position: absolute;
	top: 45%;
	left: 40%;
}

.music {
	position: absolute;
	display: none;
}

.bird1 {
	position: absolute;
	transform: scaleX(-1);
	top: 50%;
	left: 0%;
}

.bird2 {
	position: absolute;
	top: 0%;
	left: 10%; 
}

.bird3 {
	position: absolute;
	top: 30%;
	left: 70%;
}