*{
	margin:0;
	padding:0;
}

body{
	background-color: #000000;
}

h1{
	font-family: serif;
	font-size: 1750%;
	text-align: center;
	line-height: 80%;
	color: white;
}

h1:hover {
	animation-name: gradient;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes gradient{
	0% {color: white;}
	50% {color: blue;}
	100% {color: white;}
}

.video {
	position: absolute;
	top: 20%;
	left: 2%;
	animation: circlemane 10s infinite linear;
}

.video2 {
	position: absolute;
	top: 20%;
	left: 54%;
	animation: circlemane 10s infinite linear;
}

@keyframes circlemane {
	from {transform:rotate(0deg);}
	to {transform: rotate(360deg);}
}

.h {
	position: absolute;
}

.bird1 {
	position: absolute;
	transform: rotate(240deg);
}

.bird2 {
	position: absolute;
	top: 15%;
	left: 2%;
}

.bird3 {
	position: absolute;
	top: 18%;
	left: 65%;
	transform: scaleX(-1);
}

.music {
	position: absolute;
	top: 70%;
	left: 2%;
}