*{
	margin:0;
	padding:0;
}

.backtext {
	width: 560px;
	height: 315px;
	position: absolute;
	color: white;
	font-family: monospace;
	font-size:9px;
	top: 28%;
	left: 25%;
	animation-name: jj;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	text-align: center;

}

@keyframes jj {
	0% {color: white;}
	50% {color: red;}
	100% {color: white;}
}

.backtext2{
	width: 560px;
	height: 315px;
	position: absolute;
	color: white;
	font-family: monospace;
	font-size:9px;
	top: 29%;
	left: 24%;
	animation-name: jjh;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	text-align: center;

}

@keyframes jjh {
	0% {color: white;}
	50% {color: blue;}
	100% {color: white;}
}

.backtext3{
	width: 560px;
	height: 315px;
	position: absolute;
	color: white;
	font-family: monospace;
	font-size:9px;
	top: 40%;
	left: 40%;
	animation-name: jj;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	text-align: center;
}

.backtext4{
	width: 560px;
	height: 315px;
	position: absolute;
	color: white;
	font-family: monospace;
	font-size:9px;
	top: 41%;
	left: 39%;
	animation-name: jjh;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	text-align: center;
}

.video{
	position: absolute;
	top: 45%;
	left: 33%; 
}

.music {
	position: absolute;
	top: 68%;
	left: 33%;
}

.bird1 {
	position: absolute;
	transform: scaleX(-1);

}

.bird2 {
	position: absolute;
	left: 33%;
	top: 72%;
}

.bird3 {
	position: absolute;
	left: 33%;
	top: 78%;
}






















