*{
	margin:0;
	padding:0;
}

html{
	overflow: hidden;
}

body{
	background-color: black;
}

h1{
	color: white;
}

.girl{
	position: absolute;
	top: 30%;
	left: 45%;
}

.like{
	position: absolute;
	top: 34%;
	left: 44%;
}

.you{
	position: absolute;
	top: 37%;
	left: 44%;
}

.music{
	position: absolute;
	transform: rotate(-90deg);
	top: 50%;
}

.video{
	position: absolute;
	transform: rotate(-90deg);
	top: 48%;
	left: 10%;
}

.bird2{
	position: absolute;
	animation: fly 4s infinite;
}

@keyframes fly{
	0% {top: 5%; left: -40%}
	100% {top: 5%; left: 170%}
}