body {
	background-color: black
}

p {
	font-family:serif;
	font-size: 20px;
	color: red;
}

h1 {
	font-family: serif;
	font-size: 500%;
	color: white;
	-webkit-animation-name: color; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes color {
    0%   {color:white;}
    50%  {color:black;}
    100% {color:white;}
}

/* Standard syntax */
@keyframes color {
    0%   {color:white;}
    50%  {color:black;}
    100% {color:white;}
}

h2 {
	color: red;
	font-family: serif;
}

h3 {
	color: red;
	font-family: serif;
	font-size: 300%;
}

pre {
	color: red;
	font-size: 8px;
	-webkit-animation-name: color; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes color {
    0%   {color:red;}
    50%  {color:black;}
    100% {color:red;}
}

/* Standard syntax */
@keyframes color {
    0%   {color:red;}
    50%  {color:black;}
    100% {color:red;}
}

a {
	color: red;
}

.dragon {
	position: absolute;
	top: 20%;
	left: 35%;
}

.header {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.leave {
	position: absolute;
	top: 90%;
	left: 47%;
}

.CRAWLER {
	position: absolute;
	top: 25.5%;
	left: 62.5%;
}

.left {
	position: absolute;
	top: 25%;
	left: 10%;
	text-align: right;
}

.right {
	position: absolute;
	top: 25%;
	left: 60.5%;
}

.chest {
	position: absolute;
	left: 35%;
}

.knight {
	position: absolute;
	left: 40%;
}

.leftdoor {
	position: fixed;
	top: 30%;
	left: 30%; 
}

.bigleft {
	position: fixed;
	top: 45%;
	left: 30.5%; 
	transform: rotate(90deg);
}

.bigleft2 {
	position: fixed;
	top: 45%;
	left: 18%; 
	transform: rotate(-90deg);
}

.oneleft {
	position: fixed;
	top: 24.5%;
	left: 30%;
}

.rightdoor {
	position: fixed;
	top: 25%;
	left: 60%;
}

.oneright {
	position: fixed;
	top: 19.8%;
	left: 59.9%;
}

.bigright {
	position: fixed;
	top: 43%;
	left: 60.5%;
	transform: rotate(90deg);
}

.bigright2 {
	position: fixed;
	top: 43%;
	left: 46.5%;
	transform: rotate(-90deg);
}

.openleftside {
	position: fixed;
	top: 30%;
	left: 26.5%;
	transform: rotate(-90deg);
}

.openleftside2 {
	position: fixed;
	top: 35%;
	left: 28%;
	transform: rotate(-140deg);
}

.openrightside {
	position: fixed;
	top: 30%;
	left: 40.2%;
	transform: rotate(90deg);
}

.openrightside2 {
	position: fixed;
	top: 35%;
	left: 39%;
	transform: rotate(140deg);
}

.openbottom {
	position: fixed;
	top: 38.5%;
	left: 33.5%;
	color: black;
}

.doorright {
	position: fixed;
	top: 19.8%;
	left: 58.3%;
}

.doorx3 {
	position: fixed;
	top: 39%;
	left: 66.5%;
	transform: rotate(90deg);
}

.doorx3other {
	position: fixed;
	top: 39%;
	left: 50%;
	transform: rotate(-90deg);
}

.talk {
	text-align: center;
	position: fixed;
	top: 30%;
	left: 25%;
}

.runtop {
	position: fixed;
	top: 24.5%;
	left: 28.5%;
}

.runright {
	position: fixed;
	transform: rotate(90deg);
	top: 48%;
}

.runleft {
	position: fixed;
	transform: rotate(-90deg);
	left: 18%;
	top: 48%;
}

.prove {
	position: fixed;
	top: 30%;
	left: 50%;
}

.your {
	position: fixed;
	top: 40%;
	left: 54%;
}

.strength {
	position: fixed;
	top: 50%;
	left: 55%;
}

.backdoor1 {
	position: fixed;
	top: 24.5%;
	left: 28.5%;
}

.backdoorright {
	position: fixed;
	top: 55.5%;
	left: 24.5%;
	transform: rotate(90deg);
}

.backdoorleft {
	position: fixed;
	top: 55.5%;
	left: 14%;
	transform: rotate(-90deg);
}

.rundoor {
	position: fixed;
	top: 44%;
	left: 20%; 
	transform: rotate(-90deg);
}

.dooooooor {
	position: fixed;
	top: 44%;
	left: 31.5%; 
	transform: rotate(90deg);
}

.doortopp {
	position: fixed;
	top: 24.5%;
	left: 29%;
}

.usekey {
	position: fixed;
	top: 7%;
	left: 45%;
	text-align: center;
}

.lastdoor {
	position: fixed;
	top: 20%;
	left: 41%;
}

.lastdoor3{
	position: fixed;
	top: 17%;
	left: 41%;
}

.lastdoor4{
	position: fixed;
	top: 14%;
	left: 41%;
}

.lastdoor2 {
	position: fixed;
	top: 41.9%;
	left: 44.5%;
	transform: rotate(90deg);
}

.lastdoor5 {
	position: fixed;
	top: 41.9%;
	left: 25.4%;
	transform: rotate(-90deg);
}












